{{new-question question=question saveQuestion="saveQuestion"}}

<h3>Questions:</h3>
<ul>
  {{#each model as |question|}}
    {{question-tile question=question}}
  {{/each}}
</ul>

{{display-favorites question=model}}
<!-- not working for some inexplicable reason -->
