{{new-question question=question saveQuestion="saveQuestion"}}

<h3>Questions:</h3>
<ul>
  {{#each model as |question|}}
    {{question-tile question=question}}
  {{/each}}
</ul>
<<<<<<< HEAD
=======


{{display-favorites question=model}}
<!-- not working for some inexplicable reason -->
>>>>>>> parent of d4a1ce8... Still fiddling with it trying to make it work :/
